footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--stillness);
    height: 128px;
    background-color: black;
}

footer a {
    font-family: "Work Sans", sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    color: white;
}