.hero img {
    margin-top: 0;
}

.description * {
    margin-top: 0;
}

.content {
    width: 100%;
}

.content > * {
    display: block;
    width: var(--readable-length);
    margin-left: auto;
    margin-right: auto;
}


h3, .multi-pane.new-section, .divider {
    margin-top: var(--silence);
}

p, img, .multi-pane {
    margin-top: var(--stillness);
}

.with-caption+* {
    margin-top: var(--breathe)
}

.multi-pane {
    display: flex;
    gap: var(--breathe);
    padding-left: var(--breathe);
    padding-right: var(--breathe);
}

.triptych {
    width: clamp(320px, 100%, 1024px);
}

/* The content inside multi-panes: */

.multi-pane > div > *:first-child {
    margin-top: 0;
}

.multi-pane > div > * {
    margin-top: var(--breathe);
}

.section-pane > p {
    margin-top: var(--stillness);
}

.multi-pane div {
    flex: 1;
    /*min-width: var(--triptych-pane);*/
}

.multi-pane img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 300px;
}

div > img {
    width: 100%;
}

.full {
    width: 100%;
    padding: 0px;
}

.divider {
    padding-top: var(--breathe);
    padding-bottom: var(--breathe);
    background-color: #dfdfdf;
}

div.full > * {
    width: var(--readable-length);
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.outro {
    margin-top: var(--silence);
    background-color: #dfdfdf;
}

/* Outro exception to margin-top */

.outro *:first-child {
    margin-top: 0;
    padding-top: var(--silence);
}

.outro *:last-child {
    padding-bottom: var(--silence);
}

/*
h3 {
    padding-top: var(--stillness);
    margin-bottom: var(--breathe);
}

p {
    margin-bottom: var(--breathe);
}

p:last-child {
    margin-bottom: 0;
}

img+h6, .sketchfab-embed-wrapper+h6 {
    margin-bottom: var(--blink);
}

img:first-child, .sketchfab-embed-wrapper:first-child {
    margin-bottom: var(--blink);
}
*/

/* BREAKPOINT SYSTEM */

@media (max-width: 768px) {
    main {
        height: 100vh;
    }
    .content > * {
        width: 100%;
        padding-left: var(--stillness);
        padding-right: var(--stillness);
    }

    .multi-pane {
        flex-direction: column;
    }
    .multi-pane img, .multi-pane .sketchfab-embed-wrapper {
        display: block;
        max-width: 320px;
        margin: auto;
    }
}